#   This file will be used for keeping track of modified upstream files so that we
# can intervene and prevent regressions to our code.

# The following are related to custom species code. As Toriate did the majority of the work on them, they will handle them.

/code/game/dna/dna2.dm @Michiyamenotehifunana
/code/game/dna/dna2_helpers.dm @Michiyamenotehifunana
/code/modules/mob/living/carbon/human/update_icons.dm @Michiyamenotehifunana
/code/modules/mob/living/carbon/human/examine.dm @Michiyamenotehifunana
/code/modules/organs/external/_external_icons.dm @Michiyamenotehifunana
/code/modules/organs/external/head.dm @Michiyamenotehifunana
/code/modules/organs/organ.dm @Michiyamenotehifunana
/code/modules/client/preference_setup/02_body.dm @Michiyamenotehifunana
/code/game/gamemodes/changeling/changeling_powers.dm	@Michiyamenotehifunana

/code/_onclick/click.dm	@Michiyamenotehifunana
/code/game/mecha/mecha.dm	@Michiyamenotehifunana